.b0f5{color:#00b0f5;cursor:pointer;}
/*改分组*/
.popover-group{color:#000;cursor: text;}
.popover-group-title{overflow: hidden;}
.popover-group-title span:first-child{float:left;}
.popover-group-title span:last-child{float:right;color:#00b0f5;cursor:pointer;}
.popover-group-content ul{height: 250px;overflow-y: auto;}
.popover-group-content ul li{padding:2px 0;overflow: hidden;}
.popover-group-content ul li input[type=checkbox]{float:left;margin-right:5px;}
.popover-group-content ul li span{float: left;width: 85%;word-wrap: break-word;}
.popover-footer{text-align:center;padding: 8px 14px;margin: 0;font-size: 14px;background-color: #f7f7f7;border-bottom: 1px solid #ebebeb;border-radius: 5px 5px 0 0;}
