<div id="head">
    <ul ng-click="changeLeft($event)">
        <li ng-class="{'msg':'curr'}[currTab]" data-id="msg">消息</li>
        <li ng-class="{'customer':'curr'}[currTab]" data-id="customer">客户</li>
        <li ng-class="{'goods':'curr'}[currTab]" data-id="goods">商品</li>
        <li ng-class="{'order':'curr'}[currTab]" data-id="order">订单</li>
        <li ng-class="{'demo':'curr'}[currTab]" data-id="demo">demo展示</li>
    </ul>
    <span ng-click="changeShop()">切换店铺</span>
    <span ng-click="loginOut()">退出</span>
</div>

<div class="page-left" id="content" ui-view></div>