<!--<div>-->
    <!--<popover-cancel text="删除" placement="top"></popover-cancel>-->
<!--</div>-->
<div>
    <h1>{{title}}</h1>
    <div>
        <h4>动态创建弹框</h4>
        <h6><code>uib-popover</code>显示的文本内容</h6>
        <h6><code>popover-title</code>显示的文本抬头</h6>
        <button uib-popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Dynamic Popover</button>

        <h6><code>uib-popover-html</code>用html自定义弹框内容 ps.需要使用$src.trustAsHtml转义html标签</h6>
        <button uib-popover-html="dynamicPopover.template" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Popover With HTML</button>

        <h6><code>uib-popover-template</code>用模板的形式自定义内容</h6>
        <button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Popover With Template</button>
        <script type="text/ng-template" id="myPopoverTemplate.html">
            <span style="margin-right:10px;">确认删除吗</span>
            <button style="margin-right:10px;" class="btn btn-sm btn-confirm">确认</button>
            <button class="btn btn-sm btn-default">取消</button>
        </script>

        <hr />
        <h4>position-弹框的定位</h4>
        <div class="form-group">
            <label>Popover placement</label>
            <select class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>
        </div>
        <h6><code>popover-placement</code>定义弹框的方向，以及箭头的位置</h6>
        <button popover-placement="{{placement.selected}}" uib-popover="On the {{placement.selected}}" type="button" class="btn btn-default">Popover {{placement.selected}}</button>

        <hr />
        <h4>Triggers-触发器</h4>
        <h6><code>popover-trigger</code>弹框的触发事件</h6>
        <p>
            <h6><code>mouseenter</code>鼠标滑入</h6>
            <button uib-popover="I appeared on mouse enter!" popover-trigger="'mouseenter'" type="button" class="btn btn-default">Mouseenter</button>
        </p>
        <p>
        <h6><code>mouseleave</code>鼠标滑出</h6>
        <button uib-popover="I appeared on mouse enter!" popover-trigger="'mouseleave'" type="button" class="btn btn-default">Mouseleave</button>
        </p>
        <p>
            <h6><code>click</code>点击</h6>
            <button uib-popover="I appeared on mouse enter!" popover-trigger="'click'" type="button" class="btn btn-default">Click</button>
        </p>
        <p>
        <h6><code>outsideClick</code>点击出现，点击其他元素关闭弹框</h6>
            <button uib-popover="I appeared on mouse enter!" popover-trigger="'outsideClick'" type="button" class="btn btn-default">outsideClick</button>
        </p>
        <h6><code>focus</code>获取焦点</h6>
        <input type="text" value="Click me!" uib-popover="I appeared on focus! Click away and I'll vanish..."  popover-trigger="'focus'" class="form-control">
        <h6><code>blur</code>取消焦点</h6>
        <input type="text" value="Click me!" uib-popover="I appeared on blur! Click away and I'll vanish..."  popover-trigger="'blur'" class="form-control">

        <hr />
        <h4>Other</h4>
        <h6><code>popover-animation</code>是否启动动画 default   true</h6>
        <button popover-animation="false" uib-popover="I fade in and out!" type="button" class="btn btn-default">fading</button>
        <h6><code>popover-title</code>title信息 string</h6>
        <button uib-popover="I have a title!" popover-title="The title." type="button" class="btn btn-default">title</button>
        <h6><code>popoverIsOpen</code>是否显示 true/false</h6>
        <button uib-popover="I am activated manually" popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen" type="button" class="btn btn-default">Toggle popover</button>
        <br>
        <br>
        <h1>阿发demo</h1>
        <hr>
        <h3>删除按钮的弹框</h3>
        <h6><code>text</code>替换的a标签的文字内容</h6>
        <h6><code>placement</code>弹框显示的方向 默认 <code>top</code></h6>
        <h6><code>cancel-text</code>删除框的提示文字 默认 <code>确认删除吗？</code></h6>
        <h6><code>pop-width</code>如果删除框不是使用默认文字，需要调整宽度 默认 <code>236px</code></h6>
        <h6><code>confirm</code>确认按钮事件</h6>
        <h6><code>cancel</code>取消按钮事件</h6>
        <h6><code>has-confirm-close-pop</code>点击确认按钮后是否关闭弹框 默认 <code>true</code></h6>
        <h6><code>has-cancel-close-pop</code>点击取消按钮后是否关闭弹框 默认 <code>true</code></h6>
        <ul>
            <li>
                <popover-cancel text="删除Top" placement="top" cancel-text="确认删除吗？" confirm="confirm('top')" cancel="cancel()" has-confirm-close-pop="" has-cancel-close-pop="" pop-width=""></popover-cancel>
            </li>
            <li>
                <popover-cancel text="删除Bottom" placement="bottom" cancel-text="确认删除吗？" confirm="confirm('bottom')" cancel="cancel()" has-confirm-close-pop="" has-cancel-close-pop=""></popover-cancel>
            </li>
            <li>
                <popover-cancel text="删除Left" placement="left" cancel-text="确认删除吗？" confirm="confirm('left')" cancel="cancel()" has-confirm-close-pop="" has-cancel-close-pop=""></popover-cancel>
            </li>
            <li>
                <popover-cancel text="删除Right" placement="right" cancel-text="确认删除吗？" confirm="confirm('right')" cancel="cancel()" has-confirm-close-pop="" has-cancel-close-pop=""></popover-cancel>
            </li>
            <li>
                <popover-cancel text="删除default" placement="" cancel-text="确认删除吗？" confirm="confirm('default')" cancel="cancel()" has-confirm-close-pop="" has-cancel-close-pop=""></popover-cancel>
            </li>
        </ul>
        <h6>使用template方式也可以实现，但不是很好！</h6>
        <button uib-popover-template="afaDemoUrl" type="button" class="btn btn-default">Popover With Template</button>
        <script type="text/ng-template" id="afaDemo.html">
            <span style="margin-right:10px;">确认删除吗</span>
            <button style="margin-right:10px;" class="btn btn-sm btn-confirm">确认</button>
            <button class="btn btn-sm btn-default">取消</button>
        </script>
        <hr>
        <h3>分组</h3>
        <popover-group text="改分组" placement="top" confirm="confirm2()" cancel="cancel2()" data="data" has-confirm-close-pop="" has-cancel-close-pop=""></popover-group>
    </div>
    <br>
    <br>
    <br>
</div>